* { box-sizing: border-box; }

.streetcuphead {
  width: 480px; /* El sprite está formado por 55 frames de 480px x55 = 26400px */
  height: 270px;
  background: url("images/streetcuphead.png");
  animation: run 2s steps(55) infinite, move 5s steps(1000) infinite; /* El número de steps es igual al número de frames */
}

.ashdance {
  /* width: 320px, height: 240px, frames: 24, */
  width: 320px;
  height: 240px;
  background:  url("images/ashdance.png");
  animation: run2 4s steps(24) infinite, move 3s steps(1000) infinite;
}

.accionesgatunas {
  /* width: 194px, height: 244px, frames: 16, */
  width: 194px;
  height: 244px;
  background:  url("images/accionesgatunas.png");
  animation: run3 10s steps(16) infinite, move 10s steps(1000) infinite;
}

@keyframes run {
  100% {
    background-position: -26400px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes move {
  100% {
    margin-left: 100%;
    opacity: 0;
  }
}

@keyframes jump {
  100% {
  }
}

@keyframes run2 {
  100% {
    background-position: -7680px;
  }
}
@keyframes run3 {
  100% {
    background-position: -3104px;
  }
}
